.filter-sidebar {
  background-color: var(--color-off-white);
  padding: 2rem;
  color: var(--color-dark);
}

.filter-sidebar h2 {
  margin-bottom: 1rem;
}

.filter-sidebar form {
  display: grid;
  row-gap: 15px;
}

.filter-sidebar form label {
  font-weight: bold;
}

.filter-sidebar form input,
.filter-sidebar form select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-medium);
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.filter-sidebar button {
  background-color: var(--color-dark);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-sidebar button:hover {
  background-color: var(--color-medium);
}

.models-grid {
  display: grid;
  row-gap: 20px;
  padding: 2rem;
}

.model-card{
  row-gap: 10px;
  display: grid;
}


@media only screen and (min-width: 600px) {
.filter-sidebar form {
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}
  .filter-sidebar button {
    grid-column: 1/3;
    justify-self: center;
  }
  
.models-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
}
@media only screen and (min-width: 1000px) {
 .grid-models-container{
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: 300px 1fr;
   }
   .models-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }
   .filter-sidebar form {
    grid-template-columns: auto;
    column-gap: 10px;
  }
  .filter-sidebar button {
    grid-column: 1;
    justify-self: stretch;
  }
   header{
    grid-column: 1/3;
    grid-row: 1;
   }
   main{
    grid-column: 2;
    grid-row: 2;
   }
   aside{
    grid-column: 1;
    grid-row: 2;
   }
   footer{
    grid-column: 1/3 ;
    grid-row: 3;
   }
   .ofertas-grid {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
}

.config-button {
  display: inline-block;
  background-color: var(--color-dark);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.config-button:hover {
  background-color: var(--color-medium);
}
