.container {
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: row-reverse;
}

#container-interior {
  display: flex;
  flex-direction: column;
}

.div-texto {
  background-color: coral;
  padding-right: 50px;
}

.div1 {
  padding: 50px;
  background-color: pink;
  align-self: flex-start;
}

.div2 {
  padding: 5px;
  background-color: aqua;
  align-self: flex-start;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: "Consolas", "Lucida Console", "Courier New", Courier, monospace;
}
