.container {
  width: 100%;
}

main {
  display: flex;
}

main > * {
  /* Este height claramente, está para dar altura a los elementos si no tienen contenido */
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0%;
}

.explanation:is(h1, h2, h3, h4, h5, div) {
  text-transform: initial;
  font-weight: initial;
}
