:root {
  --azul-color: #4a90e2;
  --dorado-color: #ffd700;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f8ff;
  margin: 0;
}

.container-header {
  max-width: 1100px;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  position: sticky;
  z-index: 600;
  margin: 0 auto;
  top: 0;
  padding: 0.5rem;
  background-color: var(--azul-color);
}

.logo {
  width: 3rem;
  height: 3rem;
}

.barraNavegacion {
  float: right;
  line-height: 3rem;
}

.barraNavegacion a {
  display: inline-block;
  color: white;
  padding: 0 0.95rem;
  text-decoration: none;
}

.barraNavegacion a:hover {
  color: var(--dorado-color);
}

.barraNavegacion a.active {
  color: var(--dorado-color);
}

.tituloLogo {
  float: left;
  height: 3rem;
  line-height: 3rem;
}

.tituloLogo img {
  vertical-align: middle;
}

.tituloLogo span {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

section {
  padding: 1.25rem;
}

article {
  background-color: white;
  padding: 0.625rem;
  border-radius: 0.625rem;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #b7caf6;
  position: relative;
  transition: top 0.3s ease-in-out;
  top: 0;
}

a {
  text-decoration: none;
}

article:hover {
  top: -0.5rem;
}

h1 {
  color: var(--azul-color);
  padding-left: 1.25rem;
}

h2,
h3 {
  color: var(--azul-color);
  border-bottom: solid 0.125rem var(--azul-color);
}

p {
  color: black;
}

div {
  color: white;
}





img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}





.datos {
  width: 100%;
}


.boton-centro {
  text-align: center;
}

.enviar {
  background-color: var(--azul-color);
  color: white;
  border: none;
  padding: 0.625rem 1rem;
  border-radius: 0.3125rem;
  display: inline-block;
}

label {
  color: black;
}

.ir-arriba {
  padding: 0.9375rem;
  background: #105eba;
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  border-radius: 50%;
  text-align: center;
  border: none;
  z-index: 1000;
}

.icon {
  width: 1.60rem;
  height: 1.60rem;
}

a {
  cursor: pointer;
}


@media (max-width: 900px) {
  .ir-arriba {
    display: none;
  }
}




.footer {
  bottom: 0;
  background-color: var(--azul-color);
  color: white;
  text-align: left;
  padding: 0.625rem;
  width: 100%;
}


.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-item {
  padding: 0.5rem 0.75rem;
  border-left: 0.3125rem solid transparent;
  margin: 0.3125rem;
  position: relative;
}

.footer-item img.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  float: left;
}

.footer-item a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.25rem;
  position: relative;

}

.footer-item a:hover {
  color: var(--dorado-color);
}

.footer-item a:hover::before {
  content: "";
  position: absolute;
  left: -3rem;
  top: -0.25rem;
  height: 1.5rem;
  width: 0.3125rem;
  background-color: white;


}